body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%; 
    max-height: 100%; 
    font-family:Sans-serif;
    line-height: 1.5em;
}

#header {
    position: absolute;
    top: 0;
    left: 150px;
    width: 100%;
    height: 150px; 
    overflow: hidden; /* Disables scrollbars on the header frame. To enable scrollbars, change "hidden" to "scroll" */
    background: #BCCE98;
}

#nav {
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0; 
    width: 150px;
    overflow: auto; /* Scrollbars will appear on this frame only when there's enough content to require scrolling. To disable scrollbars, change to "hidden", or use "scroll" to enable permanent scrollbars */
    background: #DAE9BC; 		
}

#logo {
    padding:10px;
}

main {
    position: fixed;
    top: 150px; /* Set this to the height of the header */
    left: 150px; 
    right: 0;
    bottom: 0;
    overflow: auto; 
    background: #fff;
}

.innertube {
    margin: 30px; /* Provides padding for the content */
}

p {
    color: #555;
}

h1 {
    color: #000;
}

li {
    color: #000;
}

.line {
    border-top: 5px solid green;
    height: 5px;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: darkgreen;
    text-decoration: none;
}
        
/*IE6 fix*/
* html body{
    padding: 100px 0 0 230px; /* Set the first value to the height of the header and last value to the width of the nav */
}

* html main{ 
    height: 100%; 
    width: 100%; 
}