body {
    background-color: #005226;
}

.tags-popup-wrapper {
    background-color: white;
    width: 600px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0px;
    font-size: 1.2rem;
    position: absolute;
    top: calc(50% - 325px);
    left: calc(50% - 300px);
    border-radius: 15px;
}

.tags-popup-text {
    margin-bottom: 10px;
}

.tags-popup-buttons-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.tags-popup-save {
    background-color: #005226;
    border-radius: 30px;
    border: #005226 2px solid;
    color: white;
    font-family: inherit;
    font-size: 20px;
    min-width: 80px;
    padding: 10px 0%;
    width: 120px;
}

.tags-popup-exit {
    background-color: lightgray;
    border-radius: 30px;
    border: lightgray 2px solid;
    color: white;
    font-family: inherit;
    font-size: 20px;
    max-height: min-content;
    min-width: 80px;
    padding: 10px 0%;
    width: 120px;
}

@media screen and (max-width: 500px) {

    .tags-popup-wrapper {
        width: 300px;
        height: 500px;
        font-size: 13px;
        top: calc(50% - 250px);
        left: calc(50% - 150px);
        border-radius: 15px;
    }

    .tags-popup-buttons {
        font-size: 15px;
        min-width: 70px;
        width: 110px;
    }
}